In [ ]:
!pip install ydata-profiling
!pip install --upgrade Pillow

Collecting ydata-profiling
  Using cached ydata_profiling-4.9.0-py2.py3-none-any.whl (356 kB)
Requirement already satisfied: numpy<2,>=1.16.0 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (1.26.0)
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (1.11.3)
Collecting pydantic>=2
  Using cached pydantic-2.8.2-py3-none-any.whl (423 kB)
Collecting dacite>=1.8
  Using cached dacite-1.8.1-py3-none-any.whl (14 kB)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Collecting htmlmin==0.1.12
  Using cached htmlmin-0.1.12-py3-none-any.whl
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (0.11.2)
Collecting typeguard<5,>=3
  Using cached typeguard-4.3.0-py3-none-any.whl (35 kB)
Collecting wordcloud>=1.9.1
  Using cached wordcloud-1.9.3-cp39-cp39-win_amd64.whl (300 kB)
Collecting imagehash==4.3.1
  Using cached ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (2.11.3)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (2.1.1)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (4.64.0)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (3.5.1)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (0.7.6)
Collecting phik<0.13,>=0.11.1
  Using cached phik-0.12.4-cp39-cp39-win_amd64.whl (666 kB)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (2.27.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\peish\anaconda3\lib\site-packages (from ydata-profiling) (6.0)
Collecting numba<1,>=0.56.0
  Using cached numba-0.60.0-cp39-cp39-win_amd64.whl (2.7 MB)
Requirement already satisfied: pillow in c:\users\peish\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.4.0)
Requirement already satisfied: PyWavelets in c:\users\peish\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\peish\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\peish\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\peish\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\peish\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\peish\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\peish\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\peish\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Collecting llvmlite<0.44,>=0.43.0dev0
  Using cached llvmlite-0.43.0-cp39-cp39-win_amd64.whl (28.1 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\peish\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2021.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\peish\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\peish\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.3.2)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\peish\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.20.1)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\peish\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.12.2)
Collecting annotated-types>=0.4.0
  Using cached annotated_types-0.7.0-py3-none-any.whl (13 kB)
Requirement already satisfied: six>=1.5 in c:\users\peish\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib<3.10,>=3.5->ydata-profiling) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\peish\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\peish\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\peish\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\peish\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.3)
Requirement already satisfied: patsy>=0.5.2 in c:\users\peish\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\peish\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.4)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\peish\anaconda3\lib\site-packages (from typeguard<5,>=3->ydata-profiling) (4.11.3)
Requirement already satisfied: zipp>=0.5 in c:\users\peish\anaconda3\lib\site-packages (from importlib-metadata>=3.6->typeguard<5,>=3->ydata-profiling) (3.7.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\peish\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (21.4.0)
Requirement already satisfied: networkx>=2.4 in c:\users\peish\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.1)
Installing collected packages: llvmlite, imagehash, annotated-types, wordcloud, typeguard, pydantic, phik, numba, htmlmin, dacite, ydata-profiling
  Attempting uninstall: llvmlite
    Found existing installation: llvmlite 0.38.0

ERROR: Cannot uninstall 'llvmlite'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

Requirement already satisfied: Pillow in c:\users\peish\anaconda3\lib\site-packages (10.4.0)

In [ ]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport
import os as os

ModuleNotFoundError: No module named 'ydata_profiling'

Read dataset

In [ ]:
df = pd.read_csv("CARES_data_cleaned.csv")
df

,Indexno,Age,Gender,RCRI score,Anemia category,PreopEGFRMDRD,GradeofKidneydisease,DaysbetweenDeathandoperation,@30daymortality,Preoptransfusionwithin30days,...,Anemiacategorybinned_Moderate/Severe,Anemiacategorybinned_NA,RDW15.7_<= 15.7,RDW15.7_>15.7,RDW15.7_NA,ASAcategorybinned_I,ASAcategorybinned_II,ASAcategorybinned_III,ASAcategorybinned_IV-VI,ASAcategorybinned_NA
0,2,48.0,Female,NaN,NaN,NaN,NaN,NaN,False,0.0,...,False,True,False,False,True,True,False,False,False,False
1,5,36.0,Female,NaN,NaN,NaN,NaN,NaN,False,0.0,...,False,True,True,False,False,True,False,False,False,False
2,6,64.0,Female,NaN,Mild,152.538570,G1,NaN,False,0.0,...,False,False,True,False,False,True,False,False,False,False
3,9,73.0,Male,NaN,Moderate,117.231496,G1,NaN,False,0.0,...,True,False,True,False,False,True,False,False,False,False
4,10,73.0,Male,0.0,Mild,98.651255,G1,59.0,False,0.0,...,False,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90780,121192,66.0,Female,2.0,Mild,48.339582,G3a,NaN,False,0.0,...,False,False,True,False,False,False,True,False,False,False
90781,121194,50.0,Male,1.0,Moderate,126.592489,G1,NaN,False,0.0,...,True,False,True,False,False,False,False,False,False,True
90782,121197,58.0,Female,NaN,NaN,86.306771,G2,NaN,False,0.0,...,False,True,True,False,False,False,False,False,False,True
90783,121198,63.0,Female,0.0,NaN,NaN,NaN,NaN,False,0.0,...,False,True,False,False,True,False,True,False,False,False
90784,121200,45.0,Female,0.0,Mild,125.902498,G1,NaN,False,0.0,...,False,False,True,False,False,False,True,False,False,False

In [ ]:
df.describe()

,Indexno,Age,RCRI score,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop
count,90785.000000,90785.000000,63361.000000,79955.000000,5595.000000,90785.000000,90785.000000,90785.000000,90785.000000
mean,60334.001057,52.253225,0.322296,96.426155,476.782127,0.042672,0.056276,0.018946,0.075222
std,34930.467992,17.087307,0.634789,33.954241,421.866740,0.405840,0.230455,0.260728,0.395623
min,2.000000,18.000000,0.000000,2.541026,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29973.000000,39.000000,0.000000,79.078715,121.000000,0.000000,0.000000,0.000000,0.000000
50%,60572.000000,54.000000,0.000000,96.398561,355.000000,0.000000,0.000000,0.000000,0.000000
75%,90788.000000,65.000000,1.000000,114.310169,746.000000,0.000000,0.000000,0.000000,0.000000
max,121200.000000,103.000000,6.000000,671.298147,1783.000000,21.000000,1.000000,23.000000,24.000000

In [ ]:
# Check number of missing values in each column
missing_values = df.isna().sum()
print(missing_values)

Indexno                        0
Age                            0
Gender                         0
RCRI score                 27424
Anemia category            66916
                           ...
ASAcategorybinned_I            0
ASAcategorybinned_II           0
ASAcategorybinned_III          0
ASAcategorybinned_IV-VI        0
ASAcategorybinned_NA           0
Length: 94, dtype: int64

In [ ]:
# Convert the result to a DataFrame for better visualization
missing_values_df = missing_values.reset_index()
missing_values_df.columns = ['Column', 'Missing Values']

display(missing_values_df)

                     Column  Missing Values
0                   Indexno               0
1                       Age               0
2                    Gender               0
3                RCRI score           27424
4           Anemia category           66916
..                      ...             ...
89      ASAcategorybinned_I               0
90     ASAcategorybinned_II               0
91    ASAcategorybinned_III               0
92  ASAcategorybinned_IV-VI               0
93     ASAcategorybinned_NA               0

[94 rows x 2 columns]

In [ ]:
# Convert the result to a DataFrame for better visualization
missing_values_df = missing_values.reset_index()
missing_values_df.columns = ['Column', 'Missing Values']

# Export to Excel
missing_values_df.to_excel('missing_values.xlsx', index=False)

Remove columns that have been one-hot encoded, to prevent multicollinearity issues

In [ ]:
df.drop(['Gender', 'Anemia category', 'GradeofKidneydisease', 'AnaestypeCategory', 'PriorityCategory',
        'TransfusionIntraandpostopCategory', 'AGEcategory', 'AGEcategoryOriginal', 'SurgRiskCategory',
       'RaceCategory', 'GradeofKidneyCategory', 'Anemiacategorybinned', 'RDW15.7', 'ASAcategorybinned'],
       axis=1, inplace = True)

In [ ]:
df.head()

,Indexno,Age,RCRI score,PreopEGFRMDRD,DaysbetweenDeathandoperation,@30daymortality,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop,...,Anemiacategorybinned_Moderate/Severe,Anemiacategorybinned_NA,RDW15.7_<= 15.7,RDW15.7_>15.7,RDW15.7_NA,ASAcategorybinned_I,ASAcategorybinned_II,ASAcategorybinned_III,ASAcategorybinned_IV-VI,ASAcategorybinned_NA
0,2,48.0,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,...,False,True,False,False,True,True,False,False,False,False
1,5,36.0,NaN,NaN,NaN,False,0.0,0.0,0.0,0.0,...,False,True,True,False,False,True,False,False,False,False
2,6,64.0,NaN,152.538570,NaN,False,0.0,0.0,0.0,0.0,...,False,False,True,False,False,True,False,False,False,False
3,9,73.0,NaN,117.231496,NaN,False,0.0,1.0,0.0,1.0,...,True,False,True,False,False,True,False,False,False,False
4,10,73.0,0.0,98.651255,59.0,False,0.0,0.0,0.0,0.0,...,False,False,False,True,False,False,True,False,False,False

Mean imputation of missing values (for numerical columns **RCRI score** and **PreopEGFRMDRD**)

In [ ]:
# calculate the mean of RCRI score column
mean_RCRI = df['RCRI score'].mean()

mean_RCRI

0.32229604962042896

In [ ]:
df['RCRI score'].fillna(mean_RCRI, inplace = True)

In [ ]:
df['RCRI score']

0        0.322296
1        0.322296
2        0.322296
3        0.322296
4        0.000000
           ...
90780    2.000000
90781    1.000000
90782    0.322296
90783    0.000000
90784    0.000000
Name: RCRI score, Length: 90785, dtype: float64

In [ ]:
# calculate the mean of PreopEGFRMDRD column

mean_PreopEGFRMDRD = df['PreopEGFRMDRD'].mean()
mean_PreopEGFRMDRD

96.42615515896141

In [ ]:
df['PreopEGFRMDRD'].fillna(mean_PreopEGFRMDRD, inplace = True)

In [ ]:
df['PreopEGFRMDRD']

0         96.426155
1         96.426155
2        152.538570
3        117.231496
4         98.651255
            ...
90780     48.339582
90781    126.592489
90782     86.306771
90783     96.426155
90784    125.902498
Name: PreopEGFRMDRD, Length: 90785, dtype: float64

In [ ]:
df.describe()

,Indexno,Age,RCRI score,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop
count,90785.000000,90785.000000,90785.000000,90785.000000,5595.000000,90785.000000,90785.000000,90785.000000,90785.000000
mean,60334.001057,52.253225,0.322296,96.426155,476.782127,0.042672,0.056276,0.018946,0.075222
std,34930.467992,17.087307,0.530313,31.864673,421.866740,0.405840,0.230455,0.260728,0.395623
min,2.000000,18.000000,0.000000,2.541026,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29973.000000,39.000000,0.000000,81.773853,121.000000,0.000000,0.000000,0.000000,0.000000
50%,60572.000000,54.000000,0.000000,96.426155,355.000000,0.000000,0.000000,0.000000,0.000000
75%,90788.000000,65.000000,0.322296,111.439680,746.000000,0.000000,0.000000,0.000000,0.000000
max,121200.000000,103.000000,6.000000,671.298147,1783.000000,21.000000,1.000000,23.000000,24.000000

In [ ]:
#Check that there are no more missing values in these two columns:
print(df['RCRI score'].isna().sum())
print(df['PreopEGFRMDRD'].isna().sum())

0
0

Median imputation of missing values (for numerical columns **RCRI score** and **PreopEGFRMDRD**)

In [ ]:
# Read original dataset first
df = pd.read_csv("CARES_data_cleaned.csv")
df

,Indexno,Age,Gender,RCRI score,Anemia category,PreopEGFRMDRD,GradeofKidneydisease,DaysbetweenDeathandoperation,@30daymortality,Preoptransfusionwithin30days,...,Anemiacategorybinned_Moderate/Severe,Anemiacategorybinned_NA,RDW15.7_<= 15.7,RDW15.7_>15.7,RDW15.7_NA,ASAcategorybinned_I,ASAcategorybinned_II,ASAcategorybinned_III,ASAcategorybinned_IV-VI,ASAcategorybinned_NA
0,2,48.0,Female,NaN,NaN,NaN,NaN,NaN,False,0.0,...,False,True,False,False,True,True,False,False,False,False
1,5,36.0,Female,NaN,NaN,NaN,NaN,NaN,False,0.0,...,False,True,True,False,False,True,False,False,False,False
2,6,64.0,Female,NaN,Mild,152.538570,G1,NaN,False,0.0,...,False,False,True,False,False,True,False,False,False,False
3,9,73.0,Male,NaN,Moderate,117.231496,G1,NaN,False,0.0,...,True,False,True,False,False,True,False,False,False,False
4,10,73.0,Male,0.0,Mild,98.651255,G1,59.0,False,0.0,...,False,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90780,121192,66.0,Female,2.0,Mild,48.339582,G3a,NaN,False,0.0,...,False,False,True,False,False,False,True,False,False,False
90781,121194,50.0,Male,1.0,Moderate,126.592489,G1,NaN,False,0.0,...,True,False,True,False,False,False,False,False,False,True
90782,121197,58.0,Female,NaN,NaN,86.306771,G2,NaN,False,0.0,...,False,True,True,False,False,False,False,False,False,True
90783,121198,63.0,Female,0.0,NaN,NaN,NaN,NaN,False,0.0,...,False,True,False,False,True,False,True,False,False,False
90784,121200,45.0,Female,0.0,Mild,125.902498,G1,NaN,False,0.0,...,False,False,True,False,False,False,True,False,False,False

In [ ]:
# calculate the median of RCRI score column, and replace missing values
median_RCRI = df['RCRI score'].median()
df['RCRI score'].fillna(median_RCRI, inplace = True)
df['RCRI score']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
90780    2.0
90781    1.0
90782    0.0
90783    0.0
90784    0.0
Name: RCRI score, Length: 90785, dtype: float64

In [ ]:
# calculate the median of PreopEGFRMDRD column, and replace missing values
median_PreopEGFRMDRD = df['PreopEGFRMDRD'].median()
df['PreopEGFRMDRD'].fillna(median_PreopEGFRMDRD, inplace = True)
df['PreopEGFRMDRD']

0         96.398561
1         96.398561
2        152.538570
3        117.231496
4         98.651255
            ...
90780     48.339582
90781    126.592489
90782     86.306771
90783     96.398561
90784    125.902498
Name: PreopEGFRMDRD, Length: 90785, dtype: float64

In [ ]:
print("Mean RCRI score = " + str(mean_RCRI))
print("Median RCRI score = " + str(median_RCRI))
print("Mean PreopEGFRMDRD = " + str(mean_PreopEGFRMDRD))
print("Median PreopEGFRMDRD = " + str(median_PreopEGFRMDRD))

Mean RCRI score = 0.32229604962042896
Median RCRI score = 0.0
Mean PreopEGFRMDRD = 96.42615515896141
Median PreopEGFRMDRD = 96.39856108377884

In [ ]:
df.describe()

,Indexno,Age,RCRI score,PreopEGFRMDRD,DaysbetweenDeathandoperation,Preoptransfusionwithin30days,Intraop,Postopwithin30days,Transfusionintraandpostop
count,90785.000000,90785.000000,90785.000000,90785.000000,5595.000000,90785.000000,90785.000000,90785.000000,90785.000000
mean,60334.001057,52.253225,0.224938,96.422863,476.782127,0.042672,0.056276,0.018946,0.075222
std,34930.467992,17.087307,0.550574,31.864675,421.866740,0.405840,0.230455,0.260728,0.395623
min,2.000000,18.000000,0.000000,2.541026,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29973.000000,39.000000,0.000000,81.773853,121.000000,0.000000,0.000000,0.000000,0.000000
50%,60572.000000,54.000000,0.000000,96.398561,355.000000,0.000000,0.000000,0.000000,0.000000
75%,90788.000000,65.000000,0.000000,111.439680,746.000000,0.000000,0.000000,0.000000,0.000000
max,121200.000000,103.000000,6.000000,671.298147,1783.000000,21.000000,1.000000,23.000000,24.000000

The mean of the **RCRI score** decreased (from 0.322 to 0.225) after replacing missing values in the **RCRI score** column with the median.